<% if @article.errors.any? %>
		<h2>the following errors have been addressed</h2>
		<ul>
			<% @article.errors.full_messages.each do|msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	<% end %>
<%= form_for @article do |f| %>
<p>
   Product Name<br>
   <%= f.text_field :ProductName %>
</p>
<p>
   <%= f.label :description %><br/>
   <%= f.text_area :description %>
</p>
<p>
   Article Price<br/>
   <%= f.text_area :price %>
</p>
<p>
   <%= f.submit %>
</p>
<% end %>

<%= link_to "Back to articles listing", articles_path %>


